# Список всех инвойсов
<p id="notice"><%= notice %></p>

<h1>Invoice Data Items</h1>

<table>
  <thead>
    <tr>
      <th>Parcel code</th>
      <th>Item qty</th>
      <th>Parcel price</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_data_items.each do |invoice_data_item| %>
      <tr>
        <td><%= invoice_data_item.parcel_code %></td>
        <td><%= invoice_data_item.item_qty %></td>
        <td><%= invoice_data_item.parcel_price %></td>
        <td><%= invoice_data_item.invoice_id %></td>
        <td><%= link_to 'Show', invoice_data_item %></td>
        <td><%= link_to 'Edit', edit_invoice_data_item_path(invoice_data_item) %></td>
        <td><%= link_to 'Destroy', invoice_data_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Data Item', new_invoice_data_item_path %>
