<!-- Главная страница (список всех загрузок) -->
<% if !flash[:alert].blank? %>
  <div class = "alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<!--p id="notice"--><!--%= notice %--><!--/p-->

<h1>Batches</h1>

<table>
  <thead>
    <tr>
      <th>Batch</th>
      <th>Creation date</th>
      <th>Guid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.batch_id %></td>
        <td><%= batch.creation_date %></td>
        <td><%= batch.guid %></td>
        <td><%= link_to 'Show', batch %></td>
        <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
        <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Upload Batch File", new_batch_path, class: "btn btn-primary" %>
<br />
<br />
