# Форма загрузки нового файла с данными
<h1>Upload New Batch File</h1>

<% if !@batch.errors.empty? %>
  <div class = "alert alert-error">

    <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<div class = "well">
  <%= form_for @batch, html: { multipart: true } do |f| %>
    <%= f.label :attachment %>
    <%= f.file_field :batch_file %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to 'Back', batches_path %>
